.teams {

  .team-summary {
    padding: 16px;
    width: 100%;
    font-size: 250%;
    colour: #555;

    .team-name {
      display: inline-block;
      width: 64%;
      padding-left: 16px;
    }

    .team-colour {
      display: inline-block;
      width: 16%;
    }

    .team-balance {
      display: inline-block;
      width: 20%;
    }

  }

}

